@import "tailwindcss";

body {
  background: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide bottom navigation while player is fullscreen */

html.player-fullscreen .player-nav {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

html.player-fullscreen,
html.player-fullscreen body {
  overflow: hidden;
  height: 100%;
}

html.player-fullscreen .app-main {
  overflow: hidden;
  height: 100vh;
}

/* Hide header while player is fullscreen */

html.player-fullscreen .player-header {
  display: none;
}

/* Hide lesson information while player is fullscreen */

html.player-fullscreen .player-page-content {
  display: none;
}